@charset "UTF-8";
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  /* font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
} */
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
    "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
  scroll-behavior: smooth;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

p {
  font-size: 16px;
  line-height: 1.625;
}

/* ヘッダー */
body {
  background: #e8d9bf;
}

.header {
  position: relative;
}

.header_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7% 0 3%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.header_logo {
  width: 226px;
}

.pc_nav ul {
  display: flex;
  gap: 55px;
}

.pc_nav ul li {
  width: 105px;
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color: #fff;
  font-size: 8px;
}

#header.header_slider {
  margin-bottom: 0;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc_nav {
    display: none;
  }

  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 25px;
    /* 重なり具合 */
    z-index: 2;
  }

  .sp_btn span {
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: relative;
    top: 10px;
    transition: 0.3s;
  }

  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    transition: 0.3s;
  }

  .sp_btn span::before {
    bottom: 10px;
  }

  .sp_btn span::after {
    top: 10px;
  }

  /* ばつ印 */
  .sp_btn.open span {
    background: transparent;
  }

  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }

  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }

  /* SP版メニュー */
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    /* 重なり具合 */
    z-index: 1;
  }

  .sp_nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .sp_nav ul li {
    color: #fff;
    padding: 30px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
      "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.copy {
  margin: 104px auto;
}

.copy p:first-child {
  font-size: 30px;
}

.copy p:nth-child(even) {
  font-size: 82px;
  padding: 52px 0;
  line-height: 1.171;
  letter-spacing: 0.1em;
}

.copy p:last-child {
  font-size: 23px;
  letter-spacing: 0.1em;
}

.copy p:last-child .hidden_pc {
  display: none;
}

h2 img {
  height: 78px;
  margin-top: 68px;
  margin-bottom: 36px;
}

.ABOUT {
  display: flex;
  text-align: left;
  align-items: flex-start;
  justify-content: space-between;
}

.ABOUT .img {
  border-bottom-right-radius: 82px;
  width: 50%;
}

.text {
  width: 41%;
}

h3 {
  font-size: 44px;
  font-weight: normal;
  line-height: 1.386;
  padding-bottom: 25px;
}

.menu_container {
  display: flex;
  justify-content: space-between;
  gap: 49px;
  text-align: left;
}

.menu_box {
  width: 30%;
}

.menu_box img {
  border-top-right-radius: 41px;
  margin-bottom: 44px;
  width: 100%;
}

.menu_box div {
  position: relative;
}

h4 {
  color: #d30202;
  font-size: 38px;
  position: absolute;
  margin: 0;
  bottom: 10%;
  left: 4%;
}

.gallery_container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.gallery_container img {
  width: 20%;
}

.slick-prev:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 4px solid #fff;
  border-left: 4px solid #fff;
  transform: rotate(45deg);
}

.slick-next:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-top: 4px solid #fff;
  border-right: 4px solid #fff;
  transform: rotate(45deg);
}

.gallery_container .slick-next {
  right: 200px;
}

.gallery_container .slick-prev {
  left: 200px;
  z-index: 50;
}

/* #GALLERY.gallery_container.slick-initialized.slick-slider{
margin: 0 auto;
} */

.event_container {
  background-color: #fff;
  border: 4px solid #4f260b;
}

.event_container ul {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  width: fit-content;
  margin: 0 auto;
}

.news {
  display: flex;
  align-items: center;
  /* padding: 0 12%; */
  box-sizing: border-box;
  gap: 50px;
  font-size: 23px;
  padding: 0 10px;
}

.news p {
  text-decoration: underline;
  font-size: 23px;
}

iframe {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  height: 471px;
  display: block;
}

@media screen and (max-width: 1100px) {
  .copy p:nth-child(even) {
    font-size: 72px;
    padding: 30px 0;
    line-height: 1.158;
    letter-spacing: 0.02em;
  }

  .copy p:last-child {
    font-size: 20px;
  }
  h2 img {
    height: 78px;
    margin-top: 68px;
    margin-bottom: 36px;
  }

  .ABOUT {
    gap: 30px;
  }

  h3 {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  main {
    max-width: 767px;
    padding: 0 20px;
  }

  .copy {
    margin: 40px auto;
  }

  .copy p:first-child {
    font-size: 17px;
  }

  .copy p:nth-child(even) {
    font-size: 37px;
    padding: 25px 0;
    letter-spacing: 0.04em;
  }

  .copy p:last-child {
    font-size: 16px;
    line-height: 1.875;
  }

  .copy p:last-child .hidden_pc {
    display: block;
  }

  h2 img {
    height: 47px;
    margin-top: 56px;
    margin-bottom: 20px;
  }

  .ABOUT {
    flex-direction: column;
    gap: 0;
  }

  .ABOUT .img {
    border-bottom-right-radius: 0px;
    width: 100vw;
  }

  .text {
    width: 100%;
    display: flex;
    display: contents;
  }

  .ABOUT h2 {
    margin: 0 auto;
    order: -1;
  }

  .ABOUT h2 img {
    margin-top: 16px;
  }

  h3 {
    font-size: 36px;
    font-weight: normal;
    line-height: 1.25;
    padding-bottom: 28px;
    margin-top: 36px;
  }

  .menu_container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px;
  }

  .menu_box {
    width: 100%;
    margin-bottom: 60px;
  }

  h4 {
    font-size: 40px;
    bottom: 4%;
    left: 2%;
  }

  .gallery_container .slick-next {
    right: 100px;
  }

  .gallery_container .slick-prev {
    left: 100px;
    z-index: 50;
  }

  .gallery_container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: 100vw;
    margin: 0 calc(50% - 50vw);
  }

  .gallery_container img {
    width: 100%;
  }

  .event_container ul {
    padding: 40px 0;
    width: fit-content;
    margin: 0 auto;
  }

  .news {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* padding: 0 12%; */
    box-sizing: border-box;
    gap: 0px;
    font-size: 16px;
    padding: 0 10px 25px;
  }

  .news:last-child {
    padding-bottom: 0;
  }

  .news p {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 60%;
  }

  iframe {
    height: 191px;
  }
}

footer {
  background: #fff;
  padding: 80px 0;
  position: relative;
}

.footer_nav {
  display: flex;
  justify-content: flex-start;
  gap: 64px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer_logo {
  width: 226px;
}

.adress {
  margin-top: 4px;
  font-size: 20px;
}

.adress li {
  margin-bottom: 20px;
}

small {
  display: block;
  text-align: center;
  margin: 80px auto 0 auto;
  font-size: 16px;
}

.page_top {
  width: 125px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 767px) {
  footer {
    padding: 40px 0 33px;
  }

  .footer_nav {
    flex-direction: column;
    gap: 0;
    max-width: 767px;
    padding: 0 20px;
  }

  .footer_logo {
    width: 226px;
    padding-bottom: 32px;
  }

  .adress {
    margin-top: 4px;
    font-size: 18px;
  }

  .adress li {
    margin-bottom: 20px;
  }

  small {
    margin: 48px auto 0 auto;
  }

  .page_top {
    width: 100px;
  }
}
